$base-color: #CCD6E0;
$dark-color: #033568;

$color-active: #2ABAEC;
$blu: #0066CC;
$blu-active: #2D96FF;

$color-active: #336699;
$color-active: #FFF;

@import 'source/mixin';
@import 'source/base';
@import 'source/header';