.left{
    width: 400px;
    height: 160px;
    float: left;
    padding-top: 10px;   
    /*position: absolute;
    background-image: url('/images/table.png');*/
}

.linkedin{
    width: 370px;   
    height: 160px;
	@include bg-loading;
	margin: 0px auto;
}

.right{
    width: 684px;
    height: 270px;
    position: relative;
    color: white;
    font-size: 15px;
    line-height: 125%;
    text-align: center;
    float: left;
}

