#home{
	height: 720px;
}

.left{
    width: 468px;
    height: 320px;
    float: left;
	position: absolute;
	background-image: url('/images/table.png');
}

.left div:first-child{
	top: 120px;
	position: relative;
	left: 100px;
	@include text-rotate(2deg);
	line-height: 130%;
}

.left div:first-child, .left div:first-child a{
	font-size: 18px;
	color: $dark-color;
	font-family: 'Gochi Hand', cursive;
	line-height: 120%;
}

.left div:first-child a:hover{
	border-bottom: 5px solid $blu-active;
	color: $blu-active;
}

.left div:nth-child(2){
	display: block;
	font-size: 22px;
	color: white;
	text-shadow: 1px 1p 1px black;
	font-family: 'Gochi Hand', cursive;
	top: 285px;
	position: relative;
	left: 270px;
	cursor: pointer;
	cursor: hand;
	@include text-rotate(2deg);
}

.left div:nth-child(2):hover{
	top: 290px;
	left: 275px;
	@include text-rotate(4deg);
}

.right{
    width: 580px;
    height: 320px;
	position: relative;
	top: 20px;
	left: 495px;
	color: white;
	font-size: 15px;
	line-height: 125%;
	text-align: right;
}

.right h1{
	width: 200px;
	float: right;
	@include text-rotate(3deg);	
}

.btn_download{
    display: block;
    width: 130px;
    padding-top: 5px;
    height: 25px;
    background-color: white;
    float: right;
    font-weight: bold;
    font-size: 16px;
    color: $dark-color;
    border-radius: 3px;
    text-align: center;
}

.btn_download:hover{
    background-color: $dark-color;
    color: white;
    border: 1px solid white;
}