body{
	margin: 0px !important;
    font-family: 'Roboto', sans-serif;
	font-size: 10px;
    background-color: #15293A;
	/*background: url('/images/bg.jpg') repeat-x fixed center top; 
		background-color: black;
	background-image: url('/images/prova.png');
	background-repeat: no-repeat; 
	repeat-x fixed center top;*/
	color: white;
    padding: 10px 0px 0px 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: $color-active;
}

h1{
/*    color: $color-active;
    color: #333;*/
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 100%;

   /* font-family: 'Helvetica', 'Droid sans mono', sans-serif;
	width: 70px;*/
	text-align: center;
	border-bottom: 5px solid $blu-active;
	color: white;
}

h2{
    color: $dark-color;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 130%;
}

p{
	color: $color-active;
	color: #333;
	font-size: 12px;
}

.container{
    /*width: 1084px;*/
    width: 100%;
    margin: 0px auto;
    padding-top: 50px;
}

.middle{
    /*background-color: $bg-light;*/
    min-height: 100px;
}

.page{
    width: 1084px;
    margin: 0px auto;
}


.footer{
    bottom: 0px;
    width: 1000px;
    margin: 0px auto;
    height: 18px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    
    position: relative;
    top: 100px;
}

.titleBig{
    @include title(22px);
}

.right h1{
    width: 200px;
    float: right;
    @include text-rotate(3deg); 
}

.left_no_width{
    float: left;
    padding-top: 10px;   

}

.right_no_width{
    float: left;
}
