body{
	margin: 0px !important;
	padding: 0;
	font-family: 'Helvetica Neue', 'Droid sans mono', sans-serif;
	font-size: 10px;
	background: url('/images/bg.jpg') repeat-x fixed center top; 
/*		background-color: black;
	background-image: url('/images/prova.png');
	background-repeat: no-repeat; 
	repeat-x fixed center top;*/
	color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: $color-active;
}

h1{
/*    color: $color-active;
    color: #333;*/
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 100%;

   /* font-family: 'Helvetica', 'Droid sans mono', sans-serif;
	width: 70px;*/
	text-align: center;
	border-bottom: 5px solid $blu-active;
	color: white;
	@include text-rotate(-3deg);
	color: white;
}

h2{
    color: $dark-color;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 130%;
}

p{
	color: $color-active;
	color: #333;
	font-size: 12px;
}

.container{
    /*width: 1084px;*/
    width: 100%;
    margin: 0px auto;
}

.page{
    width: 1084px;
    margin: 0px auto;
}


.footer{
    bottom: 0px;
    width: 1000px;
    margin: 0px auto;
    height: 18px;
    padding-top: 2px;
    text-align: center;
    font-size: 10px;
    border-top: 2px solid $blu-active;
    position: relative;
    top: 100px;
}

.titleBig{
    @include title(22px);
}
