@mixin up-gradient{
    background: rgb(0,102,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,102,153,1) 0%, rgba(0,153,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,102,153,1)), color-stop(100%,rgba(0,153,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,102,153,1) 0%,rgba(0,153,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,102,153,1) 0%,rgba(0,153,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,102,153,1) 0%,rgba(0,153,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,102,153,1) 0%,rgba(0,153,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#0099ff',GradientType=0 ); /* IE6-9 */
}

@mixin top-round($size){
    border-top-left-radius: $size;
    border-top-right-radius: $size;
}

@mixin bottom-round($size){
    border-bottom-left-radius: $size;
    border-bottom-right-radius: $size;
}

@mixin text-rotate($angle){
	-webkit-transform: rotate($angle);	
	-moz-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin title($size){
	font-size: ($size)px;
	color: white;
	font-weight: bold;
}

@mixin bg-loading{
	background-image: url('/images/loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

/*@mixin dark-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-light), color-stop(100%,$grey-dark)) !important;
}

@mixin blu-gradient{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90D8FF), color-stop(100%,#19A5FF)) !important;
}

@mixin light-gradient{
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ffffff), color-stop(0.02, #ffffff), to($white-light)) !important;
}

@mixin shadow-div{
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(150,150,150,1)), color-stop(2%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
}

@mixin shadow-divisor{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-dark), color-stop(100%,rgba(255,255,255,0)));
}

@mixin hint-ok{
    background-color: green;
}

@mixin hint-error{
    background-color: red;
}
*/
