/*
.skills{
	height: 100px;
}

.skills > div{
	float: left;
	margin-left: 20px;
}*/

.skills{
    background-image: url('/images/bg_skill.png');
    width: 975px;
    height: 230px;
    background-position: center bottom;
}

.skills .circle1, .skills .circle2, .skills .circle3, , .skills .circle4{
    width: 230px;
    height: 200px;
    float: left;
    margin-left: 10px;
    background-position: center center;
    background-repeat: no-repeat;
}

.skills .circle1{
    background-image: url('/images/circle1.png');
    color: $dark-color;
}

.skills .circle2{
    background-image: url('/images/circle2.png');
    margin-top: -15px;
}

.skills .circle3{
    background-image: url('/images/circle3.png');
    color: $dark-color;
}

.skills .circle4{
    background-image: url('/images/circle4.png');
    margin-top: -5px;
}

.skills .circle1 > div, .skills .circle2 > div, .skills .circle3 > div,  .skills .circle4 > div{
    margin-top: 50px;
    line-height: 150%;
    text-align: center;
}

.skills .circle3 > div{
    margin-top: 40px;   
}