.social{
	margin-top: 20px;
    width: 400px;
    height: 40px;
}
/*
.social h1{
	float: left;
	@include text-rotate(-3deg);	
}

.spaces{
    clear: both;
    margin-top: 40px;   
}



.social .twitter{
    float: left;
    width: 320px;
    height: 260px;
    position: relative;
    left: 100px;
	@include bg-loading;
}
*/
.social .other{
	margin: 0px auto;
    width: 190px;
}

.social a{
    margin-left: 15px;
    float: left;
    display: block;
}

.social a:hover{
    @include text-rotate(25deg);    
}