/* line 8, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
:focus {
  outline: 0;
}

/* line 23, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 28, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 32, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 36, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 41, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 44, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/*@mixin dark-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-light), color-stop(100%,$grey-dark)) !important;
}

@mixin blu-gradient{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90D8FF), color-stop(100%,#19A5FF)) !important;
}

@mixin light-gradient{
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ffffff), color-stop(0.02, #ffffff), to($white-light)) !important;
}

@mixin shadow-div{
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(150,150,150,1)), color-stop(2%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
}

@mixin shadow-divisor{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-dark), color-stop(100%,rgba(255,255,255,0)));
}

@mixin hint-ok{
    background-color: green;
}

@mixin hint-error{
    background-color: red;
}
*/
/* line 1, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
body {
  margin: 0px !important;
  padding: 0;
  font-family: 'Helvetica Neue', 'Droid sans mono', sans-serif;
  font-size: 10px;
  background: url("/images/bg.jpg") repeat-x fixed center top;
  /*		background-color: black;
  	background-image: url('/images/prova.png');
  	background-repeat: no-repeat; 
  	repeat-x fixed center top;*/
  color: white;
}

/* line 14, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 19, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
a:hover {
  color: white;
}

/* line 23, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
h1 {
  color: white;
  color: #333;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 100%;
  /* font-family: 'Helvetica', 'Droid sans mono', sans-serif;*/
}

/* line 34, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
h2 {
  color: #033568;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 130%;
}

/* line 43, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
p {
  color: white;
  color: #333;
  font-size: 12px;
}

/* line 49, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
.container {
  width: 1084px;
  margin: 0px auto;
}

/* line 54, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
.footer {
  bottom: 0px;
  width: 1000px;
  margin: 0px auto;
  height: 18px;
  padding-top: 2px;
  text-align: center;
  font-size: 10px;
  border-top: 2px solid #2d96ff;
  position: relative;
  top: 20px;
}

/* line 67, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_base.scss */
.titleBig {
  font-size: 22px px;
  color: white;
  font-weight: bold;
}

/*
.titleMedium{
    @include title();
}

.titleSmall{
    @include title(14px);
}

.titleThin{
    @include title(10px);
}


img{
	border: 0px;
}

a{
    text-decoration: none;
}

p{
	margin-left: 20px;
	color: $grey-dark;
	font-size: 12px;
}

ul{
	margin-top: -5px;
}

li{
	color: $grey-dark;
	font-size: 12px;
}

input{
	background-color: white;
    -webkit-border-radius: 5px;
    border: 1px solid $blu-dark;
}

::-webkit-input-placeholder  { 
	color:#95a7bf;  
	font-size: 11px; 
	font-style: italic;
}

.flex{
    -webkit-box-flex:1;
}

.red{
    color: red;
}

div#container{
    width: 95%;
    height: 100%;
	margin: 0px auto;
	position: relative;
	top: -5px;
	@include flex-vertical;
}

div#down{
	width: 100%;
	margin: auto;
	@include light-gradient;
	border-radius:5px;
	-webkit-box-shadow: 1px 1px 4px #333333;
	-webkit-box-flex: 1;
	@include flex-horizontal;
}


.BoxDark{
    @include box-dark;
}

.divisor{
    width: 100%;
    height: 2px;
    margin-top: 25px;
}

.loadingInside{
	width: 16px;
	height: 16px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center center;
	background-image: url('../images/loading.gif');
}

.loading{
    @extend .loadingInside;
    margin: auto;
}

.ui-datepicker-trigger{
    position: relative;
    top: 3px;
    left: 2px;
}

.buttonOnWhite{
    @include button-light(85px, 20px);
}

.buttonOnWhite:hover{
    @include button-light-hover;
    border: 1px solid $grey-dark;
    height: 18px !important;
    color: $grey-dark !important;
    text-shadow: none !important;
}

.buttonSmall{
    width: 50px !important;
    height: 15px !important;
}

.helpDiv{
    margin: 0px auto; 
    text-align: center;
    position: relative;
}

.helpDiv a{
    font-size: 10px;
    color: $grey-dark;
    font-weight: bold;
}

.helpDiv a:hover{
    color: $blu-dark;
}*/
/* line 1, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
.header {
  width: 1044px;
  height: 40px;
  margin: 0px auto;
  position: relative;
  top: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.99);
  font-size: 47px;
  color: #033568;
  text-shadow: #044e9a 1px 1px 1px;
}

/* line 14, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
.type1 {
  height: 20px;
  top: 0px;
}

/* line 19, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
nav {
  float: right;
  position: relative;
  top: 18px;
  right: 25px;
  font-family: 'Droid sans mono', sans-serif;
}

/* line 27, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
.type1 nav {
  top: -2px;
}

/* line 31, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
nav div {
  top: 6px;
  position: relative;
  font-size: 20px;
  float: left;
  margin-left: 40px;
  cursor: pointer;
  cursor: hand;
}

/* line 42, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
nav div:hover {
  border-bottom: 5px solid #2d96ff;
  color: #2d96ff;
}

/* line 47, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
nav div.active {
  position: relative;
  font-size: 24px;
  cursor: default;
  top: 0px;
  border-bottom: 4px solid #2d96ff;
  color: #2d96ff;
}

/* line 56, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
nav div:hover {
  border-bottom: 4px solid #2d96ff;
  color: #2d96ff;
}

/* line 63, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_header.scss */
.header span {
  float: right;
  font-size: 20px;
  display: block;
  position: relative;
  right: 40px;
  color: #033568;
}

/*
.divider{
    height: 5px;
    width: 100%;
    margin: 0px auto;
	padding-left: 25px;
	font-family: 'Gochi Hand', cursive;
}
.header img{
    position: relative;
    top: 10px;
}

div#subup{
	@include dark-gradient;
	width: 100%;
	border-bottom: 5px solid $blu-light;
}

div#up{
	width: 95%;
	height: 40px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center right;
	margin: 0px auto;
	@include flex-horizontal;
}


.inactive{
    color: $grey-dark;
    width: 162px;
    height: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 10px;
    width: 120px;
    padding: 3px 0px;
    @include light-gradient;
}

.inactive:hover{
    @include blu-gradient;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.active{
    border: 0px;
    width: 130px;
    height: 33px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 7px;
    @include blu-gradient;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.inactiveLeft{
    @extend .inactive;
    border-top-left-radius: 5px;
}

.inactiveRight{
    @extend .inactive;
    border-top-right-radius: 5px;
}

.activeLeft{
    @extend .active;
}

.activeRight{
    @extend .active;
}

.lang{
    width: 15px;
    margin-left: 10px;
    margin-top: 20px;
}

.logout{
	height: 25px;
	margin-left: 15px;
	margin-top: 15px;
}

.containerHint{
    @extend .flex;
    margin-right: 200px;
}

.hint{
    @include hint-error;
    height: 32px; 
    font-weight: bold;
    color: white;
    padding: 4px;
    width: 100%;
}

.hintNormal{
    @include hint-ok;
}*/
/* line 1, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left {
  width: 468px;
  height: 400px;
  float: left;
  position: absolute;
  background-image: url("/images/table.png");
}

/* line 9, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:first-child {
  font-size: 22px;
  color: #033568;
  font-family: 'Gochi Hand', cursive;
  top: 130px;
  position: relative;
  left: 80px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 19, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:nth-child(2) {
  display: block;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1p 1px black;
  font-family: 'Gochi Hand', cursive;
  top: 285px;
  position: relative;
  left: 270px;
  cursor: pointer;
  cursor: hand;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 33, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:nth-child(2):hover {
  top: 290px;
  left: 275px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* line 39, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.right {
  width: 580px;
  height: 1000px;
  position: relative;
  top: 30px;
  left: 495px;
  color: white;
  font-size: 18px;
  line-height: 130%;
  text-align: right;
}

/* line 51, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.bottom {
  clear: both;
}

/* line 1, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work {
  padding-top: 10px;
}

/* line 5, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work h2 {
  font-size: 16px;
}

/*
#work .content{
    height: 1000px;
}

#work .row{
	height: 280px;
}

.row .box{
	background-color: green;
	width: 33%;
	height: 100%;
	float: left;
}

.row .box div{
	padding: 10px;
}
*/
/* line 30, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .content {
  width: 1060px;
  margin: 0px auto;
  height: 600px;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

/* line 38, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .lateral, #work .leftlateral {
  width: 20px;
  height: 600px;
  float: left;
  background-color: #000;
}

/* line 45, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.leftlateral {
  background: #1e1e1e !important;
}

/* line 49, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .menu {
  width: 300px;
  height: 600px;
  background-color: #033568;
  float: left;
  background: #556d87;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NmQ4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzUzOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #556d87 0%, #23538a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #556d87), color-stop(100%, #23538a));
  background: -webkit-linear-gradient(top, #556d87 0%, #23538a 100%);
  background: -o-linear-gradient(top, #556d87 0%, #23538a 100%);
  background: -ms-linear-gradient(top, #556d87 0%, #23538a 100%);
  background: linear-gradient(top, #556d87 0%, #23538a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#556d87', endColorstr='#23538a',GradientType=0 );
  background: #033568;
}

/* line 68, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .menu .entry {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  height: 30px;
  background-color: #FFF;
  color: #033568;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  background-color: #2d96ff;
  color: white;
}

/* line 83, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .menu .entry:hover {
  background-color: #033568;
  color: white;
  background-color: white;
  color: #2d96ff;
}

/* line 90, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.selected::after {
  content: '';
  display: block;
  background-image: url("/images/arrow.png");
  width: 20px;
  height: 40px;
  position: relative;
  left: 300px;
  top: -30px;
}

/* line 101, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail {
  width: 720px;
  height: 600px;
  float: left;
}

/* line 107, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.upTable, .downTable {
  width: 1060px;
  margin: 0px auto;
  height: 20px;
  background-color: #000;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  background: #1e1e1e;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWUxZTFlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #1e1e1e 0%, #0e0e0e 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1e1e1e), color-stop(100%, #0e0e0e));
  background: -webkit-linear-gradient(-45deg, #1e1e1e 0%, #0e0e0e 100%);
  background: -o-linear-gradient(-45deg, #1e1e1e 0%, #0e0e0e 100%);
  background: -ms-linear-gradient(-45deg, #1e1e1e 0%, #0e0e0e 100%);
  background: linear-gradient(-45deg, #1e1e1e 0%, #0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e1e1e', endColorstr='#0e0e0e',GradientType=1 );
}

/* line 126, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.upTable {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid #FFF;
}

/* line 134, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.downTable {
  clear: both;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #FFF;
}

/* line 142, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail > div:first-child {
  height: 570px;
}

/* line 146, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail > div > h1 {
  color: white;
  text-align: right;
  font-size: 26px;
  margin-right: 25px;
  font-style: italic;
}

/* line 154, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail > .down {
  background-color: black;
  width: 100%;
  height: 25px;
  clear: both;
}

/* line 161, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail > div > .images {
  width: 400px;
  height: 390px;
  float: left;
}

/* line 167, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail > div > .description {
  width: 100%;
  height: 390px;
}

/* line 172, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .detail > div > .description p {
  font-size: 14px;
  text-align: right;
  line-height: 160%;
  color: white;
  margin-right: 10px;
}

/* line 180, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .cornice {
  margin: 5px auto;
  width: 350px;
  height: 350px;
  border: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #CCC;
}

/* line 192, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .indicator {
  width: 350px;
  height: 15px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 5px;
}

/* line 201, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .indicator > .round {
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50px;
  margin-right: 5px;
  border: 1px solid #033568;
  float: left;
}

/* line 212, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .indicator > .active, #work .indicator > .round:hover {
  background-color: #033568;
  border: 1px solid white;
}

/* line 217, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .bottomdes {
  clear: both;
  text-align: left;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 20px;
  color: #2d96ff;
}

/* line 226, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .bottomdes > .entry {
  color: white;
}

/* line 230, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .bottomdes > a {
  color: #2d96ff;
}

/* line 234, /Users/danielebottillo/Documents/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .bottomdes > a:hover {
  color: white;
}
