/* line 8, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
:focus {
  outline: 0;
}

/* line 23, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 28, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 32, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 36, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 41, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 44, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/*@mixin dark-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-light), color-stop(100%,$grey-dark)) !important;
}

@mixin blu-gradient{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90D8FF), color-stop(100%,#19A5FF)) !important;
}

@mixin light-gradient{
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ffffff), color-stop(0.02, #ffffff), to($white-light)) !important;
}

@mixin shadow-div{
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(150,150,150,1)), color-stop(2%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
}

@mixin shadow-divisor{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-dark), color-stop(100%,rgba(255,255,255,0)));
}

@mixin hint-ok{
    background-color: green;
}

@mixin hint-error{
    background-color: red;
}
*/
/* line 1, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
body {
  margin: 0px !important;
  padding: 0;
  font-family: 'Helvetica Neue', 'Droid sans mono', sans-serif;
  font-size: 10px;
  background: url("/images/bg.jpg") repeat-x fixed center top;
  /*		background-color: black;
  	background-image: url('/images/prova.png');
  	background-repeat: no-repeat; 
  	repeat-x fixed center top;*/
  color: white;
}

/* line 14, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 19, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
a:hover {
  color: white;
}

/* line 23, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
h1 {
  /*    color: $color-active;
      color: #333;*/
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 100%;
   /* font-family: 'Helvetica', 'Droid sans mono', sans-serif;
	width: 70px;*/
  text-align: center;
  border-bottom: 5px solid #2d96ff;
  color: white;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  color: white;
}

/* line 41, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
h2 {
  color: #033568;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 130%;
}

/* line 50, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
p {
  color: white;
  color: #333;
  font-size: 12px;
}

/* line 56, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
.container {
  /*width: 1084px;*/
  width: 100%;
  margin: 0px auto;
}

/* line 62, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
.page {
  width: 1084px;
  margin: 0px auto;
}

/* line 68, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
.footer {
  bottom: 0px;
  width: 1000px;
  margin: 0px auto;
  height: 18px;
  padding-top: 2px;
  text-align: center;
  font-size: 10px;
  border-top: 2px solid #2d96ff;
  position: relative;
  top: 100px;
}

/* line 81, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_base.scss */
.titleBig {
  font-size: 22px px;
  color: white;
  font-weight: bold;
}

/*
.titleMedium{
    @include title();
}

.titleSmall{
    @include title(14px);
}

.titleThin{
    @include title(10px);
}


img{
	border: 0px;
}

a{
    text-decoration: none;
}

p{
	margin-left: 20px;
	color: $grey-dark;
	font-size: 12px;
}

ul{
	margin-top: -5px;
}

li{
	color: $grey-dark;
	font-size: 12px;
}

input{
	background-color: white;
    -webkit-border-radius: 5px;
    border: 1px solid $blu-dark;
}

::-webkit-input-placeholder  { 
	color:#95a7bf;  
	font-size: 11px; 
	font-style: italic;
}

.flex{
    -webkit-box-flex:1;
}

.red{
    color: red;
}

div#container{
    width: 95%;
    height: 100%;
	margin: 0px auto;
	position: relative;
	top: -5px;
	@include flex-vertical;
}

div#down{
	width: 100%;
	margin: auto;
	@include light-gradient;
	border-radius:5px;
	-webkit-box-shadow: 1px 1px 4px #333333;
	-webkit-box-flex: 1;
	@include flex-horizontal;
}


.BoxDark{
    @include box-dark;
}

.divisor{
    width: 100%;
    height: 2px;
    margin-top: 25px;
}

.loadingInside{
	width: 16px;
	height: 16px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center center;
	background-image: url('../images/loading.gif');
}

.loading{
    @extend .loadingInside;
    margin: auto;
}

.ui-datepicker-trigger{
    position: relative;
    top: 3px;
    left: 2px;
}

.buttonOnWhite{
    @include button-light(85px, 20px);
}

.buttonOnWhite:hover{
    @include button-light-hover;
    border: 1px solid $grey-dark;
    height: 18px !important;
    color: $grey-dark !important;
    text-shadow: none !important;
}

.buttonSmall{
    width: 50px !important;
    height: 15px !important;
}

.helpDiv{
    margin: 0px auto; 
    text-align: center;
    position: relative;
}

.helpDiv a{
    font-size: 10px;
    color: $grey-dark;
    font-weight: bold;
}

.helpDiv a:hover{
    color: $blu-dark;
}*/
/* line 1, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
.header {
  width: 100%;
  height: 40px;
  margin: 0px auto;
  position: relative;
  top: 20px;
  padding: 10px 0px;
  background: rgba(255, 255, 255, 0.99);
  font-size: 47px;
  color: #033568;
  text-shadow: #044e9a 1px 1px 1px;
}

/* line 14, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
.type1 {
  height: 20px;
  top: 0px;
}

/* line 19, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
nav {
  float: right;
  position: relative;
  top: 20px;
  right: 25px;
  font-family: 'Droid sans mono', sans-serif;
}

/* line 27, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
.type1 nav {
  top: 0px;
}

/* line 31, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
nav div {
  top: 6px;
  position: relative;
  font-size: 20px;
  float: left;
  margin-left: 40px;
  cursor: pointer;
  cursor: hand;
}

/* line 42, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
nav a {
  font-size: 20px;
  color: #033568;
}

/* line 47, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
nav div:hover, nav a:hover {
  border-bottom: 5px solid #2d96ff;
  color: #2d96ff;
}

/* line 52, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
nav div.active {
  position: relative;
  font-size: 24px;
  cursor: default;
  top: 2px;
  border-bottom: 4px solid #2d96ff;
  color: #2d96ff;
}

/* line 61, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
nav div:hover {
  border-bottom: 4px solid #2d96ff;
  color: #2d96ff;
}

/* line 68, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_header.scss */
.header span {
  float: right;
  font-size: 20px;
  display: block;
  position: relative;
  right: 40px;
  color: #033568;
}

/*
.divider{
    height: 5px;
    width: 100%;
    margin: 0px auto;
	padding-left: 25px;
	font-family: 'Gochi Hand', cursive;
}
.header img{
    position: relative;
    top: 10px;
}

div#subup{
	@include dark-gradient;
	width: 100%;
	border-bottom: 5px solid $blu-light;
}

div#up{
	width: 95%;
	height: 40px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center right;
	margin: 0px auto;
	@include flex-horizontal;
}


.inactive{
    color: $grey-dark;
    width: 162px;
    height: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 10px;
    width: 120px;
    padding: 3px 0px;
    @include light-gradient;
}

.inactive:hover{
    @include blu-gradient;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.active{
    border: 0px;
    width: 130px;
    height: 33px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 7px;
    @include blu-gradient;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.inactiveLeft{
    @extend .inactive;
    border-top-left-radius: 5px;
}

.inactiveRight{
    @extend .inactive;
    border-top-right-radius: 5px;
}

.activeLeft{
    @extend .active;
}

.activeRight{
    @extend .active;
}

.lang{
    width: 15px;
    margin-left: 10px;
    margin-top: 20px;
}

.logout{
	height: 25px;
	margin-left: 15px;
	margin-top: 15px;
}

.containerHint{
    @extend .flex;
    margin-right: 200px;
}

.hint{
    @include hint-error;
    height: 32px; 
    font-weight: bold;
    color: white;
    padding: 4px;
    width: 100%;
}

.hintNormal{
    @include hint-ok;
}*/
/* line 1, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
#home {
  height: 1500px;
}

/* line 5, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left {
  width: 468px;
  height: 320px;
  float: left;
  position: absolute;
  background-image: url("/images/table.png");
}

/* line 13, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:first-child {
  top: 120px;
  position: relative;
  left: 100px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  line-height: 130%;
}

/* line 21, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:first-child, .left div:first-child a {
  font-size: 18px;
  color: #033568;
  font-family: 'Gochi Hand', cursive;
  line-height: 120%;
}

/* line 28, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:first-child a:hover {
  border-bottom: 5px solid #2d96ff;
  color: #2d96ff;
}

/* line 33, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:nth-child(2) {
  display: block;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1p 1px black;
  font-family: 'Gochi Hand', cursive;
  top: 285px;
  position: relative;
  left: 270px;
  cursor: pointer;
  cursor: hand;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 47, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.left div:nth-child(2):hover {
  top: 290px;
  left: 275px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* line 53, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.right {
  width: 580px;
  height: 320px;
  position: relative;
  top: 20px;
  left: 495px;
  color: white;
  font-size: 15px;
  line-height: 125%;
  text-align: right;
}

/* line 65, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.right h1 {
  width: 200px;
  float: right;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 71, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.btn_download {
  display: block;
  width: 130px;
  padding-top: 5px;
  height: 25px;
  background-color: white;
  float: right;
  font-weight: bold;
  font-size: 16px;
  color: #033568;
  border-radius: 3px;
  text-align: center;
}

/* line 85, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.btn_download:hover {
  background-color: #033568;
  color: white;
  border: 1px solid white;
}

/* line 91, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.bottomHome {
  clear: both;
  height: 700px;
  width: 90%;
  margin: 0px auto;
  font-size: 16px;
}

/* line 99, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.bottomHome h1 {
  width: 70px;
  /*	text-align: center;
  	border-bottom: 5px solid $blu-active;
  	color: white;
  	@include text-rotate(-3deg);
  	color: white;*/
}

/*
.skills{
	height: 100px;
}

.skills > div{
	float: left;
	margin-left: 20px;
}*/
/* line 117, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills {
  background-image: url("/images/bg_skill.png");
  width: 975px;
  height: 230px;
  background-position: center bottom;
}

/* line 124, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle1, .skills .circle2, .skills .circle3, .skills .circle4 {
  width: 230px;
  height: 200px;
  float: left;
  margin-left: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 133, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle1 {
  background-image: url("/images/circle1.png");
  color: #033568;
}

/* line 138, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle2 {
  background-image: url("/images/circle2.png");
  margin-top: -15px;
}

/* line 143, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle3 {
  background-image: url("/images/circle3.png");
  color: #033568;
}

/* line 148, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle4 {
  background-image: url("/images/circle4.png");
  margin-top: -5px;
}

/* line 153, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle1 > div, .skills .circle2 > div, .skills .circle3 > div, .skills .circle4 > div {
  margin-top: 50px;
  line-height: 150%;
  text-align: center;
}

/* line 159, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.skills .circle3 > div {
  margin-top: 40px;
}

/* line 163, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social {
  margin-top: 40px;
}

/* line 167, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social h1 {
  float: right;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 172, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.spaces {
  clear: both;
  margin-top: 40px;
}

/* line 177, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social .linkedin {
  width: 400px;
  height: 160px;
  float: left;
  background-image: url("/images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 184, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social .twitter {
  float: left;
  width: 320px;
  height: 260px;
  position: relative;
  left: 50px;
  background-image: url("/images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 193, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social .other {
  width: 200px;
  float: left;
  position: relative;
  left: 50px;
}

/* line 200, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social .other a {
  margin-left: 15px;
  float: left;
  display: block;
}

/* line 206, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_aboutme.scss */
.social .other a:hover {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

/* line 1, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work {
  padding-top: 10px;
}

/* line 5, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work h2 {
  font-size: 16px;
}

/*
#work .content{
    height: 1000px;
}

#work .row{
	height: 280px;
}

.row .box{
	background-color: green;
	width: 33%;
	height: 100%;
	float: left;
}

.row .box div{
	padding: 10px;
}
*/
/* line 30, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work .content {
  width: 1060px;
  height: 600px;
  margin: 0px auto;
  position: relative;
  top: 20px;
  border: 1px solid #FFF;
  /*	border-left: 1px solid #FFF;
  	border-right: 1px solid #FFF;*/
  background-color: white;
}

/* line 42, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.bordered {
  width: 1056px;
  height: 596px;
  border: 2px solid #2d96ff;
  border-radius: 5px;
}

/* line 49, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.leftarrow, .rightarrow {
  display: block;
  float: left;
  width: 50px;
  height: 596px;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 59, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.leftarrow {
  background-image: url("/images/arrow_left.png");
}

/* line 63, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.rightarrow {
  background-image: url("/images/arrow_right.png");
}

/* line 67, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.leftarrow:hover, .rightarrow:hover {
  background-color: #033568;
}

/* line 71, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.centercarousel {
  float: left;
  width: 956px;
  height: 596px;
}

/* line 78, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#indication {
  padding-top: 5px;
  height: 15px;
  background-color: white;
  width: 55px;
  margin: 0px auto;
  text-align: center;
  position: relative;
}

/* line 88, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.round {
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50px;
  margin-right: 5px;
  border: 1px solid #033568;
  float: left;
}

/* line 99, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#work #indication .active, #work #indication > .round:hover {
  background-color: #033568;
  border: 1px solid white;
}

/* line 104, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#carousel {
  width: 956px;
  height: 576px;
  position: relative;
}

/* line 110, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
#carousel img {
  width: 100%;
  height: 100%;
}

/* line 115, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.floating {
  width: 300px;
  height: 554px;
  background-color: rgba(3, 53, 104, 0.9);
  position: absolute;
  right: 50px;
  top: -4px;
  color: white;
  font-size: 14px;
  line-height: 130%;
}

/* line 127, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.floating .description, .bottomdes {
  padding: 10px;
}

/* line 131, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.entry {
  color: #ccd6e0;
  font-size: 18px;
}

/* line 136, /Users/danielebottillo/Documents/Works/MyPersonalWebsite/public/scss/source/_portfolio.scss */
.bottomdes a:hover {
  color: black;
}
