<div class="actions">
	<h1>Actions</h1>
    
		<div class="btn_container">
        	<a href="https://docs.google.com/document/d/1oitMBHJOeGgTy4MrTenHU695cB9tQ6nRQ9gFTAT__UQ/edit?usp=sharing" target="_blank" class="btn_download">View My CV</a>
        	<br/>
        	<a href="http://blog.danielebottillo.com" target="_blank" class="btn_download">View My Blog</a>
        	<br/>
        	<a href="mailto:dbottillo@gmail.com" target="_blank" class="btn_download">Send me an Email</a>
		</div>
</div>