<head>
    <title>i'm Daniele Bottillo</title>
    <link rel="stylesheet" href="stylesheets/dbottillo.css" />
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript" src="/javascripts/portfolio.js"></script>
    <!--[if lt IE 9]>
        <script>
            var e = ("abbr,article,aside,audio,canvas,datalist,details," +
            "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
            "progress,section,time,video").split(',');
            for (var i = 0; i < e.length; i++) {
                document.createElement(e[i]);
            }
        </script>
    <![endif]-->
	<link REL="SHORTCUT ICON" HREF="/images/icon.ico">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28939044-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
