<div class="middle" style="margin-top: 40px;">
	<div class="page">
		<div class="right_no_width" style="width: 300px;">
			<%= render :partial => "shared/portfolio" %>
		</div>

		<div class="right_no_width" style="width: 350px; margin-left: 150px;">
			<%= render :partial => "shared/skill" %>
		</div>

		<div class="right_no_width" style="width: 250px; margin-left: 33px;">
			<%= render :partial => "shared/action" %>
		</div>

		<div style="clear:both;"></div>		
	</div>
</div>