<div id="work" class="portfolio">
	<h1>Portfolio</h1>
		
		<img src="images/apple.png" alt="apple icon" /> &nbsp; <a href="https://itunes.apple.com/it/app/save-the-mom-family-matters/id507166967?mt=8" target="_blank">SaveTheMom iOS </a> <br/>
		<img src="images/android.png" alt="android icon" /> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.savethemom.android" target="_blank">SaveTheMom Android </a> <br/>
		<img src="images/android.png" alt="android icon" /> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.comuni_chiamo.android" target="_blank">Comuni-Chiamo Android </a> <br/>

		<img src="images/android.png" alt="android icon" /> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.spreaker.android" target="_blank">Spreaker Android </a> <br/>
		<img src="images/android.png" alt="android icon" /> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.placesinthebox.imperia" target="_blank">Riviera dei Fiori Android </a> <br/>
		<img src="images/android.png" alt="android icon" /> &nbsp; <a href="https://play.google.com/store/apps/details?id=org.gdgbologna.devfest2012" target="_blank">Devfest 2012 Android </a> <br/>


		
	
</div>
