<div id="work" class="page">
	<h1>Portfolio</h1>
		<div class="bordered">
		<a href="javascript:leftCarousel()" class="leftarrow">
		</a>
		<div class="centercarousel">
			<div id="carousel">
				<img src="/images/work/checkit/uno.jpg" onload="javascript:portfolio_imageloaded()" />
				<div class="floating" id="floating">
					<h1 id="title_work"></h1>
					<div id="on_off">Close</div>
					<div class="description">
						
					</div>
					<div class="bottomdes">
						<span class="entry">Commitment:</span> <span id="commitment"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="entry">Link:</span> <a href="http://www.checkithq.com" target="_blank" id="link_commitment">http://www.checkithq.com</a><br/><br/>
						<span class="entry">Technologies: </span> <span id="technologies"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="entry">Year:</span> <span id="year_commitment"></span>
					</div>
				</div>
			</div>
			<div id="indication">
				<a href="javascript:portfolio_image(0)"><span class="round active"></span></a>
				<a href="javascript:portfolio_image(1)"><span class="round"></span></a>
				<a href="javascript:portfolio_image(2)"><span class="round"></span></a>
			</div>
		</div>
		<a href="javascript:rightCarousel()" class="rightarrow">
		</a>
	</div>
	<div id="toHome" class="active">Top</div>
</div>
