<div class="skills">
	<h1>Skills</h1>
    Java (Android) 3 years of experience <br/>
    ObjectiveC 3 years <br/>
    Javascript (front-end) 5 years <br/>
    Javascript (back-end) 2 years <br/>
    HTML(5) & CSS(3) 6 years <br/>
    Ruby 3 years <br/>
    JSON, REST 4 years <br/>
    Sencha 1 year <br/>
</div>