<div class="skills">
	<h1>Skills</h1>
    <div class="circle1">
        <div>
        Html 4/5<br/>
        Javascript<br/>
        Css3<br/>
        JQuery<br/>
        </div>
    </div>
    <div class="circle2">
        <div>
        Android<br/>
        Objetcive-C<br/>
        Sencha<br/>
        JQuery Mobile<br/>
        </div>
    </div>
    <div class="circle3">
        <div>
        PHP<br/>
        RubyOnRails<br/>
        Java<br/>
        MongoDB<br/>
        MySql
        </div>
    </div>
    <div class="circle4">
        <div>
        Fireworks<br/>
        Illustrator<br/>
        Photoshop<br/>
        Balsamiq<br/>
        </div>
    </div>
    <div style="display:none">

	<br/><br/>
	<div><span class="round active"></span>Fireworks</div>
	<div><span class="round active"></span>Photoshop</div>
	<div><span class="round active"></span>Balsamiq</div>
    </div>
</div>