<div class="page">
	<div class="left">
		<div>
			<b>Email</b>: <a href="mailto:dbottillo@gmail.com">dbottillo[at]gmail[dot]com</a><br/>
			<b>Location</b>: Bologna, ITALY &nbsp;&nbsp;&nbsp; <b>Age</b>: 26<br/>
			<b>Twitter</b>: <a href="http://www.twitter.com/dbottillo" target="_blank">dbottillo</a><br/>
			<b>Skype</b>: <a href="skype:danielebottillo?call">danielebottillo</a><br/>
			<b>Geekli.st</b>: <a href="http://geekli.st/cribcaged7" target="_blank">cribcaged7</a><br/>
			<b>Degree</b>: Computer Science (at Unibo)
		</div>
	

	</div>

	<div class="right">
		<br/><br/>
	<!--					<span class="titleBig"></span>-->
		<h1>Hello! I am Daniele</h1><br/><br/><br/>
		I'm an italian programmer who loves the web and the mobile world,<br/> I enjoy programming for different platforms in various programming languages.<br/> I really enjoy experimenting with new languages, designs and technologies.
	    <br/><br/>
	    I was born in Italy (Bologna) but technologies make <br/>it very easy to become a global citizen!
	    <br/><br/>
	    I have a degree in Computer Science but I have never stopped studying.<br/> I'm a fan of Android and Google as every friend of mine knows!
		<br/><br/>
	    <a href="https://docs.google.com/document/d/1oitMBHJOeGgTy4MrTenHU695cB9tQ6nRQ9gFTAT__UQ/edit?usp=sharing" target="_blank" class="btn_download">View My CV</a>
	</div>
</div>