<div class="page" style="margin-top: 40px;">
	<div class="left">
		<!--<div>
			<b>Email</b>: <a href="mailto:dbottillo@gmail.com">dbottillo[at]gmail[dot]com</a><br/>
			<b>Location</b>: Bologna, ITALY &nbsp;&nbsp;&nbsp; <b>Age</b>: 26<br/>
			<b>Twitter</b>: <a href="http://www.twitter.com/dbottillo" target="_blank">dbottillo</a><br/>
			<b>Skype</b>: <a href="skype:danielebottillo?call">danielebottillo</a><br/>
			<b>Geekli.st</b>: <a href="http://geekli.st/cribcaged7" target="_blank">cribcaged7</a><br/>
			<b>Degree</b>: Computer Science (at Unibo)
		</div>-->
		<div class="linkedin">
	    	<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/daniele-bottillo/b/2a5/528" data-format="inline" data-related="false"></script>
        </div>

        <%= render :partial => "shared/social" %>

		
	</div>

	<div class="right">
		<!--<br/><br/>
						<span class="titleBig"></span>
		<h1>Hello! I am Daniele</h1><br/><br/><br/>-->
		<div style="margin: 0px auto; width: 510px">
			<br/><br/>
			I am an Italian programmer who loves the web and the mobile world, I enjoy programming for different platforms in various programming languages and to experimenting new languages, designs and technologies.
		    <br/><br/>
		    I was born in Italy (Bologna) and I have a degree in Computer Science.
		    <br><br/>
		    I really like technology in every form and I have always has a look to the future.
		    I dream often about how technology will change the life of everyone. Google addicted.
			<br/><br/>

		</div>
		<!--I'm an italian programmer who loves the web and the mobile world,<br/> I enjoy programming for different platforms in various programming languages.<br/> I really enjoy experimenting with new languages, designs and technologies.
	    <br/><br/>
	    I have a degree in Computer Science but I have never stopped studying.<br/> I'm a fan of Android and Google as every friend of mine knows!-->
		
	    
	</div>

	<div style="clear: both;"></div>
</div>