<div class="page">
	<div class="left">
		<div>
			<b>Email</b>: <a href="mailto:dbottillo@gmail.com">dbottillo[at]gmail[dot]com</a><br/>
			<b>Location</b>: Bologna, ITALY &nbsp;&nbsp;&nbsp; <b>Age</b>: 26<br/>
			<b>Twitter</b>: <a href="http://www.twitter.com/cribcaged7" target="_blank">cribcaged7</a><br/>
			<b>Skype</b>: <a href="skype:danielebottillo?call">danielebottillo</a><br/>
			<b>Geekli.st</b>: <a href="http://geekli.st/cribcaged7" target="_blank">cribcaged7</a><br/>
			<b>Degree</b>: Computer Science (at Unibo)
		</div>
	

	</div>

	<div class="right">
		<br/><br/>
	<!--					<span class="titleBig"></span>-->
		<h1>Hello! I am Daniele</h1><br/><br/><br/>
		I'm an italian programmer who loves web and mobile world,<br/> I enjoy programming in every forms and languages.<br/> I really enjoy make experiments with new languages, patterns and technologies.
	    <br/><br/>
	    I was born in Italy (Bologna) but technologies make <br/>very easy to become a world citizen!
	    <br/><br/>
	    I have a degree in Computer Science but I have never stopped studying.<br/> I'm a fan of Android and Google as every friend of mine knows!
		<br/><br/>
	    <a href="CV_DanieleBottillo.pdf" target="_blank" class="btn_download">Get My CV (pdf)</a>
	</div>
</div>