<div id="cv">
    <%= render :partial => "shared/header", :locals => { :type => 2 } %>
	<div class="content">
		<br/>
		<div class="submenu">
			<a class="active" href="javascript:cv_personal()">Personal Information</a>
			<a href="javascript:cv_education()">Education</a>
			<a href="javascript:cv_work()">Work</a>
			<a href="javascript:cv_skills()">Skills</a>
		</div>
		<div style="clear:both; "></div>
		<div class="pagecv">
			
		</div>
	</div>
</div>