<div id="work">
	<div class="upTable"></div>
    <%= render :partial => "shared/header", :locals => { :type => 1 } %>
	<div class="content">
		<div class="leftlateral"></div>
		<div class="menu">
			<div class="entries">
				<a href="javascript:change_work('CheckIt')">
                    <div class="work entry selected first" id="checkit_div">CheckIt!</div>
                </a>
				<a href="javascript:change_work('Wemobi')">
                    <div class="work entry" id="wemobi_div">WeMobi</div>
                </a>
				<a href="javascript:change_work('Sdf')">
                    <div class="work entry" id="sdf_div">Squadra dei Falchi</div>
                </a>
				<a href="javascript:change_work('Chariots')">
                    <div class="work entry" id="chariots_div">Chariots of Fire</div>
                </a>
				<a href="javascript:change_work('Serena')">
                    <div class="work entry" id="serena_div">Serena Cevenini Website</div>
                </a>
				<a href="javascript:change_work('Mavigex')">
                    <div class="work entry" id="mavigex_div">Mavigex</div>
                </a>
			</div>
			<div class="down">
			</div>
		</div>
		<div class="detail">
			<div>
				<div class="title">
                    <h1 id="title_work">CheckIt!</h1>
                </div>
				<div class="images" style="clear: both;">
					<div class="cornice">
                        <img src="/images/work/checkit/uno.jpg" onload="javascript:portfolio_imageloaded()" />
					</div>
					<div class="indicator">
						<a href="javascript:portfolio_image(0)"><span class="round active"></span></a>
						<a href="javascript:portfolio_image(1)"><span class="round"></span></a>
						<a href="javascript:portfolio_image(2)"><span class="round"></span></a>
					</div>
				</div>
				<div class="description">
					<p id="text_des_work">
					<br/>CheckIt! is a web application that can help you to manage your daily routine: you can use ToDo List to save what you have to do.
					You can also use Accounting section to track your finance and see your money.
					</p>
				</div>
				<div class="bottomdes">
					<span class="entry">Commitment:</span> <span id="commitment">Myself</span><br/><br/>
					<span class="entry">Link:</span> <a href="http://www.checkithq.com" target="_blank" id="link_commitment">http://www.checkithq.com</a><br/><br/>
					<span class="entry">Technologies: </span> <span id="technologies">Chrome, HTML5, CSS3, JQuery, Javascript, ChromeWebStore, RubyOnRails, MongoDb</span><br/><br/>
					<span class="entry">Year:</span> <span id="year_commitment">2011</span>
				</div>
			</div>
			<div class="down">
			</div>
		</div>
		<div class="lateral"></div>
	</div>
	<div class="downTable"></div>
</div>