<div id="work">
	<div class="upTable"></div>
	<header class="header type1">
		<!--<h2>My Work<h2>-->
	    <nav>
	        <div class="active">
				Portfolio
			</div>	
			<div id="toHome">
				About Me
			</div>
	    </nav>
	</header>
	<div class="content">
		<div class="leftlateral"></div>
		<div class="menu">
			<div class="entry selected">CheckIt!</div>
			<div class="entry">Frizòn</div>
		</div>
		<div class="detail">
			<div>
				<h1>CheckIt!</h1>
				<div class="images">
					<div class="cornice">
					</div>
					<div class="indicator">
						<span class="round"></span>
						<span class="round active"></span>
						<span class="round"></span>
					</div>
				</div>
				<div class="description">
					<p>
					CheckIt! is a web application that can help you to manage your daily routine: you can use ToDo List to save what you have to do.
					You can also use Accounting section to track your finance and see your money.
					</p>
				</div>
				<div class="bottomdes">
					<span class="entry">Commitment:</span> Myself<br/><br/>
					<span class="entry">Link:</span> <a href="http://www.checkithq.com" target="_blank">http://www.checkithq.com</a><br/><br/>
					<span class="entry">Tecnologies:</span> Chrome, HTML5, CSS3, JQuery, Javascript, ChromeWebStore, RubyOnRails, MongoDb
				</div>
			</div>
			<div class="down">
				<b>Commitment</b>: Myself<br/>
				<b>Link</b>: <a href="http://www.checkithq.com" target="_blank">Go</a>
			</div>
		</div>
		<div class="lateral"></div>
	</div>
	<div class="downTable"></div>
</div>