<div id="work">
	<div class="upTable"></div>
	<header class="header type1">
		<!--<h2>My Work<h2>-->
	    <nav>
	        <div class="active">
				Portfolio
			</div>	
			<div id="toHome">
				About Me
			</div>
	    </nav>
	</header>
	<div class="content">
		<div class="lateral"></div>
		<div class="menu">
			<div class="entry selected">CheckIt!</div>
			<div class="entry">Frizòn</div>
		</div>
		<div class="detail">
			Uno<br/>
			Due
		</div>
		<div class="lateral"></div>
	</div>
	<div class="downTable"></div>
</div>