<!DOCTYPE>
<html>
    <head>
        <title>Daniele Bottillo - Portfolio</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
            <script>
                var e = ("abbr,article,aside,audio,canvas,datalist,details," +
                "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
                "progress,section,time,video").split(',');
                for (var i = 0; i < e.length; i++) {
                    document.createElement(e[i]);
                }
            </script>
        <![endif]-->
    </head>
    <body>
        <header class="header">
            <nav>
                <a href="/index" id="index">
                    <span>&lt;Me&gt;</span>
                </a>
                <a href="/portfolio" id="portfolio">
                    <span>Portfolio</span>
                </a>
                <a href="social.html" id="social" style="display: none">
                    <span>&lt;Social&gt;</span>
                </a>
            </nav>
        </header>
        <div class="divider">&nbsp;</div>
        <div class="container">
            <h2>My Work in my free time</h2>
            <div style="margin-left: 25px;">                
                <li><a href="http://www.checkithq.com" target="_blank">CheckIt! - My personal web application</a></li>
                <li><a href="http://dev.wemobi.it" target="_blank">WeMobi Portal (Beta, not yet release)</a></li>
                <li><a href="http://www.squadrafalchi.it" target="_blank">Squadra Falchi Website</a></li>
                <li><a href="http://www.chariots.it" target="_blank">Chariots of Fire Website, my friends funny-maker</a></li>
                <li><a href="http://www.ancora1946.it" target="_blank">Football Ancora 1946 website</a></li>
            </div><br/><br/>
            <h2>My Work at work</h2>
            <div style="margin-left: 25px;">                
                <li><a href="http://www.centercasa.com" target="_blank">CenterCasa.com</a></li>
                <li><a href="http://www.adventurecar.com/" target="_blank">AdventureCar</a></li>
            </div>

        </div>
    </body>
</html>
