<!DOCTYPE>
<html>
    <head>
        <title>Daniele Bottillo - Portfolio</title>
       	<style type="text/css">
			body{
				background-image: url('/images/prova.jpg');
				width: 100%;
			}
		</style>
        <!--[if lt IE 9]>
            <script>
                var e = ("abbr,article,aside,audio,canvas,datalist,details," +
                "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
                "progress,section,time,video").split(',');
                for (var i = 0; i < e.length; i++) {
                    document.createElement(e[i]);
                }
            </script>
        <![endif]-->
    </head>
    <body>
      
    </body>
</html>
