
.left{
    width: 468px;
    height: 320px;
    float: left;
	position: absolute;
	background-image: url('/images/table.png');
}

.left div:first-child{
	top: 120px;
	position: relative;
	left: 100px;
	@include text-rotate(2deg);
	line-height: 130%;
}

.left div:first-child, .left div:first-child a{
	font-size: 18px;
	color: $dark-color;
	font-family: 'Gochi Hand', cursive;

}

.left div:first-child a:hover{
	border-bottom: 5px solid $blu-active;
	color: $blu-active;
}

.left div:nth-child(2){
	display: block;
	font-size: 22px;
	color: white;
	text-shadow: 1px 1p 1px black;
	font-family: 'Gochi Hand', cursive;
	top: 285px;
	position: relative;
	left: 270px;
	cursor: pointer;
	cursor: hand;
	@include text-rotate(2deg);
}

.left div:nth-child(2):hover{
	top: 290px;
	left: 275px;
	@include text-rotate(4deg);
}

.right{
    width: 580px;
    height: 320px;
	position: relative;
	top: 20px;
	left: 495px;
	color: white;
	font-size: 15px;
	line-height: 125%;
	text-align: right;
}

.right h1{
	width: 200px;
	float: right;
	@include text-rotate(3deg);	
}

.btn_download{
    display: block;
    width: 130px;
    padding-top: 5px;
    height: 25px;
    background-color: white;
    float: right;
    font-weight: bold;
    font-size: 16px;
    color: $dark-color;
    border-radius: 3px;
    text-align: center;
}

.btn_download:hover{
    background-color: $dark-color;
    color: white;
    border: 1px solid white;
}

.bottomHome{
    clear: both;
	height: 700px;
	width: 90%;
	margin: 0px auto;
	font-size: 16px;
}

.bottomHome h1{
	width: 70px;
/*	text-align: center;
	border-bottom: 5px solid $blu-active;
	color: white;
	@include text-rotate(-3deg);
	color: white;*/
}
/*
.skills{
	height: 100px;
}

.skills > div{
	float: left;
	margin-left: 20px;
}*/

.skills{
    background-image: url('/images/bg_skill.png');
    width: 975px;
    height: 230px;
    background-position: center bottom;
}

.skills .circle1, .skills .circle2, .skills .circle3, , .skills .circle4{
    width: 230px;
    height: 200px;
    float: left;
    margin-left: 10px;
    background-position: center center;
    background-repeat: no-repeat;
}

.skills .circle1{
    background-image: url('/images/circle1.png');
    color: $dark-color;
}

.skills .circle2{
    background-image: url('/images/circle2.png');
    margin-top: -15px;
}

.skills .circle3{
    background-image: url('/images/circle3.png');
    color: $dark-color;
}

.skills .circle4{
    background-image: url('/images/circle4.png');
    margin-top: -5px;
}

.skills .circle1 > div, .skills .circle2 > div, .skills .circle3 > div,  .skills .circle4 > div{
    margin-top: 50px;
    line-height: 150%;
    text-align: center;
}

.skills .circle3 > div{
    margin-top: 40px;   
}

.social{
	margin-top: 40px;
}

.social h1{
	float: right;
	@include text-rotate(3deg);	
}

.spaces{
    clear: both;
    margin-top: 40px;   
}

.social .linkedin{
    width: 400px;   
    height: 160px;
    float: left;
	@include bg-loading;
}

.social .twitter{
    float: left;
    width: 320px;
    height: 260px;
    position: relative;
    left: 50px;
	@include bg-loading;
}

.social .other{
	width: 200px;
	float: left;
	position: relative;
    left: 50px;
}

.social .other a{
    margin-left: 15px;
    float: left;
    display: block;
}

.social .other a:hover{
    @include text-rotate(25deg);    
}