
.left{
    width: 468px;
    height: 320px;
    float: left;
	position: absolute;
	background-image: url('/images/table.png');
}

.left div:first-child{
	top: 120px;
	position: relative;
	left: 100px;
	@include text-rotate(2deg);
	line-height: 130%;
}

.left div:first-child, .left div:first-child a{
	font-size: 18px;
	color: $dark-color;
	font-family: 'Gochi Hand', cursive;

}

.left div:first-child a:hover{
	border-bottom: 5px solid $blu-active;
	color: $blu-active;
}

.left div:nth-child(2){
	display: block;
	font-size: 22px;
	color: white;
	text-shadow: 1px 1p 1px black;
	font-family: 'Gochi Hand', cursive;
	top: 285px;
	position: relative;
	left: 270px;
	cursor: pointer;
	cursor: hand;
	@include text-rotate(2deg);
}

.left div:nth-child(2):hover{
	top: 290px;
	left: 275px;
	@include text-rotate(4deg);
}

.right{
    width: 580px;
    height: 320px;
	position: relative;
	top: 20px;
	left: 495px;
	color: white;
	font-size: 16px;
	line-height: 125%;
	text-align: right;
}

.right h1{
	width: 200px;
	float: right;
	@include text-rotate(3deg);	
}

.bottomHome{
    clear: both;
	height: 700px;
	width: 90%;
	margin: 0px auto;
	font-size: 16px;
}

.bottomHome h1{
	width: 70px;
/*	text-align: center;
	border-bottom: 5px solid $blu-active;
	color: white;
	@include text-rotate(-3deg);
	color: white;*/
}

.skills{
	height: 100px;
}

.skills > div{
	float: left;
	margin-left: 20px;
}

.social{
	margin-top: 40px;
}

.social h1{
	float: right;
	@include text-rotate(3deg);	
}

.spaces{
    clear: both;
    margin-top: 40px;   
}

.social .linkedin{
    width: 400px;   
    height: 160px;
    float: left;
	@include bg-loading;
}

.social .twitter{
    float: left;
    width: 320px;
    height: 260px;
    position: relative;
    left: 50px;
	@include bg-loading;
}

.social .other{
	width: 200px;
	float: left;
	position: relative;
    left: 50px;
}