#home{
    width: 1084px;
	height: 1500px;
    margin: 0px auto;
}

#leftAccordion{
	height: 400px;
	width: 320px;
	margin-left: 20px;
}

.shareContainer{
    margin-top: 40px;
}

#accordion{
	-webkit-box-flex: 1;
	margin: 10px auto !important;
	width: 98% !important;
}

.loginRight{
	color: $grey-dark;
	font-weight: bold;
	position: relative;
	right: 10px;
	bottom: 20px;
	text-align: right;
	height: 40px;
}

.loginButton{
	@include button-dark;
	width: 162px;
    height: 25px;
    float: right;
}

.loginButton:hover{
    @include button-dark-hover;
}
