#work {
	padding-top: 10px;
}

#work h2{
	font-size: 16px;
}

/*
#work .content{
    height: 1000px;
}

#work .row{
	height: 280px;
}

.row .box{
	background-color: green;
	width: 33%;
	height: 100%;
	float: left;
}

.row .box div{
	padding: 10px;
}
*/

#work .content{
	width: 1060px;
	height: 600px;
	margin: 0px auto;
	position: relative;
	top: 20px;
	border: 1px solid #FFF;	
/*	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;*/
	background-color: white;
}

.bordered{
	width: 1056px;
	height: 596px;
	border: 2px solid $blu-active;
	border-radius: 5px;
}

.leftarrow, .rightarrow{
	display: block;
	float: left;
	width: 50px;
	height: 596px;
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
}

.leftarrow{
	background-image: url('/images/arrow_left.png');	
}

.rightarrow{
	background-image: url('/images/arrow_right.png');	
}

.leftarrow:hover, .rightarrow:hover{
	background-color: $dark-color;
}

.centercarousel{
	float: left;
	width: 956px;
	height: 596px;
}


#indication{
	padding-top: 5px;
	height: 15px;
	background-color: white;
	width: 55px;
	margin: 0px auto;
	text-align: center;
	position: relative;
}

.round {
	display: block;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50px;
	margin-right: 5px;
	border: 1px solid $dark-color;
	float: left;
}

#work #indication .active, #work #indication > .round:hover{
	background-color: $dark-color;
	border: 1px solid white;
}

#carousel{
	width: 956px;
	height: 576px;
	position: relative;
}

#carousel img{
	width: 100%;
	height: 100%;
}

.floating{
	width: 300px;
	height: 554px;
	background-color: rgba($dark-color,0.9);
	position: absolute;
	right: 50px;
	top: -4px;
	color: white;
	font-size: 14px;
	line-height: 130%;
}

.floating .description, .bottomdes{
	padding: 10px;
}

.entry{
	color: $base-color;
	font-size: 18px;
}

.bottomdes a:hover{
	color: black;
}