#work {
	padding-top: 10px;
}

#work h2{
	font-size: 16px;
}

/*
#work .content{
    height: 1000px;
}

#work .row{
	height: 280px;
}

.row .box{
	background-color: green;
	width: 33%;
	height: 100%;
	float: left;
}

.row .box div{
	padding: 10px;
}
*/

#work .content{
	width: 1060px;
	margin: 0px auto;
	height: 600px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}

#work .lateral, #work .leftlateral{
	width: 20px;
	height: 600px;
	float: left;
	background-color:  #000;
}

.leftlateral{
	background: rgb(30,30,30) !important;
}

#work .menu{
	width: 299px;
	height: 600px;
	background-color: $dark-color;
	float:left;
	background: rgb(85,109,135);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NmQ4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzUzOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(85,109,135,1) 0%, rgba(35,83,138,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,109,135,1)), color-stop(100%,rgba(35,83,138,1)));
	background: -webkit-linear-gradient(top,  rgba(85,109,135,1) 0%,rgba(35,83,138,1) 100%);
	background: -o-linear-gradient(top,  rgba(85,109,135,1) 0%,rgba(35,83,138,1) 100%);
	background: -ms-linear-gradient(top,  rgba(85,109,135,1) 0%,rgba(35,83,138,1) 100%);
	background: linear-gradient(top,  rgba(85,109,135,1) 0%,rgba(35,83,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556d87', endColorstr='#23538a',GradientType=0 );
	
	background: rgba(3,53,104,0.3);
	background: -webkit-linear-gradient(top,  rgba(3,53,104,0.2) 0%,rgba(35,83,138,0.8) 100%);
}

#work .menu .entry{
	width: 100%;
	padding-top: 10px;
	height: 30px;
	background-color: #FFF;
	color: $dark-color;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	background-color: $blu-active;
	color: white;
}

#work .dividerEntry{
	height: 10px;
}

#work .menu .entry:hover, #work .menu .selected{
	background-color: $dark-color;
	color: white;
	border-top: 1px solid $blu-active;
	border-bottom: 1px solid $blu-active;
	padding-top: 9px;
	height: 29px;
/*	background-color: white;
	color: $blu-active;*/
}

.selected::after, #work .menu .entry:hover::after{
	content: '';
	display: block;
	background-repeat: no-repeat;
	width: 15px;
	height: 40px;
	position: relative;
	left: 300px;
	top: -30px;
}

.selected::after{
	background-image: url('/images/arrow.png');
} 

#work .menu .entry:hover::after, .selected::after{
	background-image: url('/images/arrow_dark.png');
	left: 299px;
}

#work .detail{
	width: 720px;
	height: 600px;
	float: left;
}

#work .entries{
	width: 100%;
	height: 560px;
	border-right: 1px solid $blu-active;
	padding-top: 15px;
}

.upTable, .downTable{
	width: 1060px;
	margin: 0px auto;
	height: 20px;
	background-color: #000;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background: rgb(30,30,30);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWUxZTFlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(30,30,30,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,30,30,1)), color-stop(100%,rgba(14,14,14,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(30,30,30,1) 0%,rgba(14,14,14,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(30,30,30,1) 0%,rgba(14,14,14,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(30,30,30,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(-45deg,  rgba(30,30,30,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#0e0e0e',GradientType=1 );
	
}

.upTable{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top: 1px solid #FFF;
	
	
}

.downTable{
	clear: both;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 1px solid #FFF;
	
}

#work .detail > div:first-child{
	height: 570px;
}

#work .detail > div > h1{
	color: white;
	text-align: right;
	font-size: 26px;
	margin-right: 25px;
	font-style: italic;
	@include text-rotate(-1deg);	
}

#work  .down{
	background-color: black;
	width: 100%;
	height: 25px;
	clear: both;
}

#work .detail > div >.images{
	width: 400px;
	height: 390px;
	float: left;
}

#work .detail > div >.description{
	width: 100%;
	height: 390px;
}

#work .detail > div >.description p{
	font-size: 14px;
	text-align: right;
	line-height: 160%;
	color: white;
	margin-right: 10px;
}

#work .cornice{
	margin: 5px auto;
	width: 350px;
	height: 350px;
	border: 1px solid white;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #CCC;
	position: relative;
	top: -20px;
}

#work .indicator{
	width: 350px;
	height: 15px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	top: -15px;
}

.round {
	display: block;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50px;
	margin-right: 5px;
	border: 1px solid $dark-color;
	float: left;
}

#work .indicator .active, #work .indicator > .round:hover{
	background-color: $dark-color;
	border: 1px solid white;
}

#work .bottomdes{
	clear: both;
	text-align: left;
	font-size: 16px;
	padding-left: 20px;
	color: $blu-active;
}

#work .bottomdes > .entry{
	color: white;
}

#work .bottomdes > a{
	color: $blu-active;
}

#work .bottomdes > a:hover{
	color: white;
}