<header class="header">
             <nav>
                <a href="/index" id="index">
                    <div class="active">&lt;Me&gt;</div>
                </a>
                <a href="/portfojlio" id="portfolio">
                    <div>&lt;Portfolio&gt;</div>
                </a>
                <a href="social.html" id="social">
                    <div>&lt;Curriculum&gt;</div>
                </a>
            </nav>
        </header>
